version: '2'

services:
  seedbox:
    extends:
      file: ../pwd.yml
      service: seedbox
    image: dperson/transmission:latest
    container_name: seedbox
    networks:
      - net_web
    volumes:
     - /home/seedbox:/var/lib/transmission-daemon/downloads
     - /home/infra/seedbox/torrents:/var/lib/transmission-daemon/info/torrents
     - /home/infra/seedbox/incomplete:/var/lib/transmission-daemon/downloads/incomplete
    ports:
     - 51413:51413
    environment:
     - VIRTUAL_NETWORK=net_web
     - VIRTUAL_HOST=transmission.neths.fr
     - VIRTUAL_PORT=9091
     - HTTPS_METHOD=noredirect
     - LETSENCRYPT_HOST=transmission.neths.fr
     - LETSENCRYPT_EMAIL=vacher.michel@gmail.com
    restart: always
    mem_limit: 2G
networks:
  net_web:
    external: true
